---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import spabg2 from '../assets/images/spa_bg_2.jpg';
import spabg3 from '../assets/images/spa_bg_3.jpg';
import spabg4 from '../assets/images/spa_bg_4.jpg';
import spabg5 from '../assets/images/spa_bg_5.jpg';
---

<Layout title="Area benessere spa" description="Il percorso benessere comprende tisane e frutta di benvenuto con accesso alla vasca idromassaggio, sauna, bagno turco e doccia emozionale.">
	<main>
		<div class="container">
			<div class="row align-items-start">
				<div class="col">
					<div class="d-flex">
						<div class="col">
							<Image class="img img-fluid p-1" src={spabg5} alt="bg5"/>
						</div>
						<div class="col">
							<Image class="img img-fluid p-1" src={spabg2} alt="bg2"/>
						</div>
					</div>
					<h2>SPA</h2>
					<hr>
					<p>
					Il percorso benessere comprende tisane e frutta di benvenuto con accesso alla vasca idromassaggio, sauna, bagno turco e doccia emozionale.
					Avrete a vostra disposizione un kit “SPA” compreso di accappatoio, telo e ciabatte.
					Con un piccolo supplemento è incluso il servizio di colazione, pranzo/cena o aperitivo.</p>
				</div>
				<div class="col">
					<div class="d-flex">
						<div class="col">
							<Image class="img img-fluid p-1" src={spabg3} alt="bg3"/>
						</div>
						<div class="col">
							<Image class="img img-fluid p-1" src={spabg4} alt="bg4"/>
						</div>
					</div>
					<h2>Eventi</h2>
					<hr>
					<p>
						È possibile organizzare i vostri eventi, addio al nubilato / celibato , compleanni e anniversari presso la nostra struttura.
						È richiesto un preavviso di almeno di 7 giorni dalla data dell’evento, ed un numero massimo di partecipanti (8/10 persone).
						Con un piccolo supplemento è possibile richiedere un “long cocktail” o “cocktail party”.
					</p>
				</div>

			</div>
		</div>
	</main>
</Layout>

<style>
	h2{
		color: #468B78;
		font-size: 26px;
		font-weight: bold;
	}
	hr{
		border: 1px solid #468B78;
	}
</style>
