---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import estetica1 from '../assets/images/avanzata_bg_1.jpg';
import estetica2 from '../assets/images/avanzata_bg_2.jpg';
import estetica3 from '../assets/images/avanzata_bg_3.jpg';
import estetica4 from '../assets/images/avanzata_bg_4.jpg';
---

<Layout title="Estetica Avanzata" description="Acqve Spa & Beauty - Estetica Avanzata">
	<main>
		<div class="container">
			<div class="row align-items-start">
				<div class="col">
					<div class="d-flex">
						<div class="col">
							<Image class="img img-fluid p-1" src={estetica1} alt="bg5"/>
						</div>
						<div class="col">
							<Image class="img img-fluid p-1" src={estetica2} alt="bg2"/>
						</div>
						<div class="col">
							<Image class="img img-fluid p-1" src={estetica3} alt="bg2"/>
						</div>
						<div class="col">
							<Image class="img img-fluid p-1" src={estetica4} alt="bg2"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-start">
				<div class="col">
					<h2>RADIOFREQUENZA</h2>
					<hr>
					<p>
						Per radiofrequenza si intende una tecnica di medicina estetica, basata sugli effetti delle onde elettromagnetiche che agiscono fino ad arrivare agli strati più profondi della pelle del paziente e sulla stimolazione delle cellule che sono predisposte all’autoriparazione del derma.
<br>
						I trattamenti effettuati con il macchinario agiscono sfruttando quelle che sono le proprietà delle onde elettromagnetiche ad alta frequenza. Queste onde elettromagnetiche ad alta frequenza sono in grado di produrre calore. Quest’ultimo agisce direttamente sui fibroblasti che attivandosi, di conseguenza, vanno a produrre il collagene, l’elastina e l’acido ialuronico.
					</p>
				</div>
				<div class="col">
					<h2>OSSIGENOTERAPIA</h2>
					<hr>
					<p>
						L’ossigenoterapia al viso viene utilizzata principalmente per ridurre piccoli inestetismi del tempo, come macchie cutanee e rughe d’espressione.
<br>
						Tuttavia, questa tecnica si è mostrata utile anche per contrastare disturbi cutanei come l’acne e la rosacea.L’ossigenoterapia consiste nel veicolare – mediante l’uso di appositi strumenti e macchinari – un flusso di ossigeno puro sulla pelle del viso. L’ossigeno somministrato in questo modo è in grado di ripristinare e migliorare la microcircolazione e di riattivare il metabolismo cutaneo che potrebbero essere compromessi dai normali processi d’invecchiamento, dall’inquinamento, dall’esposizione alla luce solare (o ai raggi UV artificiali) e dallo stress.  L’ossigenoterapia al viso così praticata sembrerebbe anche in grado di favorire l’attività dei fibroblasti (le cellule del derma), stimolandoli a produrre nuovo collagene e nuove fibre elastiche.
						<br>
						Il flusso di ossigeno direzionato sulla pelle del viso, inoltre, può essere sfruttato per veicolare in profondità delle sostanze attive in grado di potenziare l’azione esercitata dal gas. Ad esempio, quando l’ossigenoterapia viene eseguita per contrastare i segni del tempo, non è insolito che insieme al flusso gassoso vengano direzionate sulla pelle anche sostanze attive, come acido ialuronico, antiossidanti, vitamine, amminoacidi ed oligoelementi.
						<br>
						In maniera analoga, si possono veicolare sostanze utili per contrastare le manifestazioni tipiche di acne e rosacea.
					</p>
				</div>
			</div>
			<div class="row align-items-start">
				<div class="col">
					<h2>LASER</h2>
					<hr>
					<p>
						Eliminazione dei peli per donna e uomo, laser a tripla lunghezza d’onda va a togliere i peli neri ma anche quelli più bianchi su tutti i tipi di pelle anche quelle più scure.</p>
				</div>
				<div class="col">
					<h2>LIPOLASER</h2>
					<hr>
					<p>
						Il Lipolaser estetico è una tecnologia che permette di ridurre le adiposità localizzate attraverso l’energia di un raggio laser in grado di colpire e svuotare gli adipocidi, ossia le cellule in cui viene stivato il grasso.
<br>
						Questo trattamento corpo è perfetto per rimodellare e definire il corpo, soprattutto in quelle zone predisposte all’accumulo di adipe in eccesso: pancia, fianchi, culottes de cheval, braccia e ginocchia. Questa tecnologia permette una riduzione della circonferenza visibile già dalla prima seduta.
<br>
						È consigliabile abbinare un trattamento drenante, come la pressoterapia, per eliminare i residui di adipe.</p>
				</div>
			</div>
			<div class="row align-items-start">
				<div class="col">
					<h2>PRESSOTERAPIA</h2>
					<hr>
					<p>
						La pressoterapia, anche nota come pressomassaggio, è un trattamento curativo ampiamente utilizzato sia in campo medico che estetico. Essa si basa sulla pressione esterna esercitata da un apposito dispositivo sugli arti e l’addome del paziente, al fine di migliorare la circolazione linfatica e venosa del soggetto. Grazie a questa simulazione di massaggio manuale, l’organismo sarà anche in grado di espellere con maggiore facilità le tossine e le scorie presenti nell’organismo.
<br>
						Il  pressomassaggio può essere un ottimo supporto per contrastare l’edema degli arti inferiori e  la pelle a buccia d’arancia ( tra le varie  cause della  cellulite ricordiamo infatti una alterazione della circolazione linfatica e venosa). Sin dalla prima seduta, infatti, è possibile avvertire una generale sensazione di benessere e leggerezza degli arti inferiori.
<br>
						Oggi i macchinari per la pressoterapia rappresentano una delle attrezzature estetiche di fondamentale importanza per il trattamento degli inestetismi della cellulite.Il massaggio effettuato con la pressoterapia è in grado di drenare in maniera efficace i liquidi che, a causa di un’alterata  circolazione, si sono accumulati negli spazi interstiziali dei tessuti (fenomeno noto come ritenzione idrica), alterando la conformazione delle gambe. In questo modo è possibile ridurre tutta una serie di inestetismi e di problematiche che derivano dal ristagno dei liquidi, ovvero:
					</p>
					<ul>
						<li>la cellulite</li>
<li>
							accumuli adiposi</li>
<li>
							gambe gonfie</li>
					</ul><p>Il massaggio effettuato con la pressoterapia è in grado di drenare in maniera efficace i liquidi che, a causa di un’alterata  circolazione, si sono accumulati negli spazi interstiziali dei tessuti (fenomeno noto come ritenzione idrica), alterando la conformazione delle gambe.</p>

				</div>
				<div class="col">
					<h2>LASER TRIPLA LUNGHEZZA D'ONDA DIODO</h2>
					<hr>

			</div>
			</div>
			<div class="row align-items-start">
				<h2>VACUUM</h2>
				<hr>

				<p>
					La vacuum terapia è una modalità di terapia estetica, utile per gli inestetismi della cellulite ed altri problemi.
<br>
					In realtà questa antica tecnica, di origini cinesi, chiamata anche massaggio con le coppette, o coppettazione, è una tecnica di massaggio che serviva a contrastare la ritenzione idrica, riattivando la circolazione dei capillari, e di conseguenza far ripartire l’energia vitale bloccata nelle zone periferiche del corpo, per farla fluire verso il centro, oppure il contrario.

				</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	h2{
		color: #468B78;
		font-size: 26px;
		font-weight: bold;
	}
	hr{
		border: 1px solid #468B78;
	}
</style>
